/* CSS do tema */

/* CSS Reset */
* {
    box-sizing: border-box;
    transition: .3s;
}
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, p {
    margin: 1rem 0;
}
a {
    color: steelblue;
    text-decoration: none;
}
a:hover {
    color: orangered;
}


/* Fundo do App */
body {
    background-color: slategray;
}

/* Wrap */
.wrap {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

/* Cabeçalho (header) */
.header {
    background: rgb(109, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header a {
    color: white;
    display: inline-block;
    padding: .8rem;
    font-size: 1.2rem;
}
.header a:hover {
    background: orangered;
}
.header h1 {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: .15rem;
}


/* Menu principal */
.nav {
    background: #333;
    width: 70%;
    position: fixed;
    top: 3rem;
    right: 0;
    box-shadow: -5px 5px 5px #ddd;
    z-index: 100;
}
.nav a {
    color: white;
    display: block;
    padding: .8rem;
}
.nav a:hover {
    background: orangered;
}
.nav hr {
    border: 0;
    margin: 0;
    border-top: 1px dotted rgb(212, 212, 212);
}
/* Fundo do menu */
.modalbg {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

/* Conteúdo central (main) */
.main {
    background-color: white;
    overflow: auto;
    margin: 3rem 0 1rem 0;
}


/* Rodapé (footer) */
.footer {
    background: rgb(109, 0, 0);
    color: white;
    text-align: center;
    font-size: .8rem;
    padding: .5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}